@model ByteWriter.Models.ViewModels.SelectTrendingViewModel
@{
    ViewData["Title"] = "Select Trending Blogs";
}

<form method="post" asp-action="SelectTrending" class="mt-4">
    @foreach (var blog in Model.Blogs)
    {
        <div class="form-check">
            <input type="checkbox" id="blogId_@blog.BlogID" name="SelectedBlogIds" value="@blog.BlogID"
                   class="form-check-input"
            @(Model.SelectedBlogIds.Contains(blog.BlogID) ? "checked" : "")>
            <label class="form-check-label" for="blogId_@blog.BlogID">@blog.BlogTitle</label>
        </div>
    }

    <button type="submit" class="btn btn-primary mt-3">Save</button>
    @Html.AntiForgeryToken()
</form>
