@{
    ViewData["Title"] = "Features";
}
<div class="container py-3">
    <h1 class="mb-4 text-center">Features of our humble platform</h1>
    <hr class="hr">
    <div class="row">
        <div class="col-md-6">
            <h2>Friends' Blogs</h2>
            <p>Users can connect with other users and receive suggestions for articles from their friends' blogs.</p>
        </div>
        <div class="col-md-6">
            <h2>Trending Blogs</h2>
            <p>Popular articles are highlighted on the Trending Blogs page, similar to viral content on social media platforms.</p>
        </div>
        <div class="col-md-6">
            <h2>Create Articles</h2>
            <p>Users can create articles, specify collaborating users, and attach multiple photo attachments on the Create page.</p>
        </div>
        <div class="col-md-6">
            <h2>Profile</h2>
            <p>The Profile page displays various parameters of a user, including articles created by the user, attached images, article modifications, and user profile description.</p>
        </div>
        <div class="col-md-6">
            <h2>FAQs</h2>
            <p>The FAQs page provides answers to frequently asked questions in an accordion-style menu.</p>
        </div>
    </div>
</div>
